#calendar {
    height: calc(100vh - 3rem);
    width: 80vw;
    margin: auto;
    overflow: hidden;

    h2 {
        text-align: center;
        font-size: 2.25rem;
        margin: 1rem 0;
        height: 3rem;
        line-height: 3rem;
    }

    .toolBar {
        display: flex;
        height: 2.5rem;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;

        button {
            height: 100%;
            border: none;
            background-color: #44C;
            border-radius: 0.25rem;
            padding: 0.5rem 1rem;
            text-align: center;
            font-size: 1.25rem;
            color: #FFF;
            user-select: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #55D;
        }

        button.refresh {
            margin-left: auto;
        }
    }

    .weekday {
        display: flex;
        user-select: none;

        div {
            text-align: center;
            flex: 1;
            border: 0.1rem solid #000;
            border-bottom: none;
            border-top-width: 0.2rem;
            height: 2.25rem;
            line-height: 2.25rem;
        }

        div:first-child {
            border-left-width: 0.2rem;
        }

        div:last-child {
            border-right-width: 0.2rem;
        }
    }

    .table {
        height: calc(100vh - 18rem);
        overflow: hidden;
        user-select: none;

        .week {
            position: relative;
            top: 0;
            height: var(--height);
            --height: calc(100% / var(--total-week));
            display: flex;
            transition: height 0.5s, top 0.5s, border-width 0.5s;

            .day {
                flex: 1;
                border: 0.1rem solid #000;
                transition: background-color 0.3s;
                overflow: hidden;

                .date {
                    width: calc(100% - 1.2rem);
                    margin: 0.3rem auto;
                    text-align: right;
                    font-size: 1.2rem;
                }

                .event {
                    width: calc(100% - 0.8rem);
                    margin: 0.2rem auto;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 0.8rem;
                    padding: 0.25rem;
                    border-radius: 0.2rem;
                    background-color: var(--color, #0EF);
                    user-select: none;
                    cursor: pointer;
                }
            }

            .day:first-child {
                border-left-width: 0.2rem;
            }

            .day:last-child {
                border-right-width: 0.2rem;
            }

            .day[data-current=false] {
                color: #AAA;
            }

            .day[data-select=true] {
                background-color: #ee68;
            }
        }

        .week:first-of-type {
            .day {
                border-top-width: 0.2rem;
            }
        }

        .week:last-of-type {
            .day {
                border-bottom-width: 0.2rem;
            }
        }
    }

    .table[data-week-mode=true] {
        .week {
            top: calc(-100% * var(--current-week));
            height: 100%;

            .day {
                overflow-y: auto;
                border-top-width: 0.2rem;
                border-bottom-width: 0.2rem;

                .event {
                    white-space: initial;
                }
            }
        }
    }
}