#notice{
    height: 30vh;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    text-align: justify; 
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: #C82020;
        margin: 0;
        font-size: 2rem;
        font-weight: 400;
    }
}